{{!-- Might change the name and or location of it in the views folder --}}


<h1>My Cookbook</h1>

    <div class="pimg1">
        <div class="ptext">
            <span class="">
              Breakfast
            </span>
        </div>
    </div>
<div class="category">
    <div class="carousel" id="breakfast">
                {{#each breakfast}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.image}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.image}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}


    </div>

    
    <div class="pimg2">
        <div class="ptext">
            <span class="">
              Lunchyyy
            </span>
        </div>
    </div>
    <div class="carousel" id="lunch">
                {{#each lunch}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.image}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.image}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}
    </div>

     <div class="pimg3">
        <div class="ptext">
            <span class="">
                Dinner
            </span>
        </div>
    </div>
    <div class="carousel" id="dinner">
                {{#each dinner}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.image}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.image}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}
    </div>

    <div class="pimg4">
        <div class="ptext">
            <span class="">
              Dessert
            </span>
        </div>
    </div>
    <div class="carousel" id="dessert">
                {{#each dessert}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.image}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.image}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}
    </div>
</div>