<div>

  <h1>{{recipeForCard.cuisineType}}</h1>
  <div class="recipeCard">
    <div class="recipe-video-card">
      <iframe width="560" height="315" src="{{recipeForCard.video}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="recipe-ingredient-card">
      <h2>Ingredients</h2>
      <ul>
        {{#each recipeForCard}}
        {{#each this.ingredients}}

        <li>{{this}}</li>

        {{/each}}
        {{/each}}
      </ul>
    </div>
    <div class="recipe-steps-card">
      <h2>Steps</h2>
      <ol>
        {{#each recipeForCard}}
        {{#each this.steps}}
        <li>{{this}}</li>
        {{/each}}
        {{/each}}
      </ol>
    </div>
  </div>
  {{!-- Need to happen only if recipe has userID --}}
  <div id="deleteRecipe">
    <form action="/recipe/delete/{{recipeForCard._id}}" method="POST">
      <button class="btn">Delete This Book </button>
    </form>
  </div>


</div>