{{!-- Might change the name and or location of it in the views folder --}}




{{!-- <h1>{{Mexican}}</h1> --}}


<hr>
<!-- Trigger the modal with a button -->






<div class="category">
    <h1>Breakfast</h1>
    <div class="carousel">
        {{#each breakfast}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.images.[0]}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.images.[0]}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}

    </div>
    <h1>Lunch</h1>
    <div class="carousel">
        {{#each lunch}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.images.[0]}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.images.[0]}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}

    </div>
    <h1>Dinner</h1>
    <div class="carousel">
        {{#each dinner}}
        <div class="tile">
            <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                    src="{{this.images.[0]}}" alt="Not found"> </a>
        </div>

        <!-- Modal -->
        <div id="modal{{this._id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-recipe">

                            <div class="modal-img">
                                <a href="/recipe/card/{{this._id}}"><img src="{{this.images.[0]}}"
                                        alt="Model not working"></a>

                            </div>
                            <div class="modal-description">
                                <div>
                                    <h1>Ingredients</h1>
                                    <ul>

                                        {{#each this.ingredients}}

                                        <li>{{this}}</li>

                                        {{/each}}

                                    </ul>
                                </div>

                                <div>
                                    <h2>Ratings</h2>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>



        {{/each}}

    </div>

</div>
<h1>Dessert</h1>
<div class="carousel">
    {{#each dessert}}
    <div class="tile">
        <a href="#" data-toggle="modal" data-target="#modal{{this._id}}"><img class="recipeImg"
                src="{{this.images.[0]}}" alt="Not found"> </a>
    </div>

    <!-- Modal -->
    <div id="modal{{this._id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <div class="modal-recipe">

                        <div class="modal-img">
                            <a href="/recipe/card/{{this._id}}"><img src="{{this.images.[0]}}"
                                    alt="Model not working"></a>

                        </div>
                        <div class="modal-description">
                            <div>
                                <h1>Ingredients</h1>
                                <ul>

                                    {{#each this.ingredients}}

                                    <li>{{this}}</li>

                                    {{/each}}

                                </ul>
                            </div>

                            <div>
                                <h2>Ratings</h2>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>



    {{/each}}

</div>
</div>